*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body{
    overflow:hidden ;
}
.background{

    background: linear-gradient(rgba(0,0,0.5), rgba(0,0,0.5));
    background-image: linear-gradient(#3e3e3e, #3e3e3e);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
#Changed:hover{
    color: #2ecc71;
    transition: 0.8s;
}

button{
    color: #2ecc71;
    background: transparent;
    border: 1px solid #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 150px;
}
button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.container{
    display: flex;
    gap: 10rem;
}
.text-conatiner{
    padding: 10px 10px 10px 10px;
    border: 2PX solid rgba(0, 0, 0, 0.5);
    width: 960px;
    height: 300px;
    border-radius: 15px;
    max-width: 100%;
    margin-top: 70px;
    margin-right: 30px;
}
.perfil{
    margin-top: 80px;
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    border-radius: 100%;
    margin-left: 15px;
}
.txt-spacing{
    margin: 10px 10px 10px 25px;
}
p{
    margin: 10px 10px 10px 100px;
}
.btn-spacing{
   margin-left: 45px;
}
.nav-footer{
    width: 100%;
    height: 30px;
    padding-left: 450px;
    
}
.FixedProject{
    padding: 10px 10px 10px 10px;
    border: 2PX solid rgba(0, 0, 0, 0.5);
    width: 460px;
    height: 55px;
    border-radius: 5px;
    max-width: 100%;
    margin-top: 50px;
    margin-right: 30px; 
    margin: 0 auto;
    margin-left: 424px;
    
}
#hidden{
    font-size: 14px;
    color: #f5f5f5;
}
#blue{
    color: #004cff;
}